{{!-- {{#link-to "index"}} <img class="logo">{{/link-to}} --}}

<nav>
  <ul>
    <li>{{#link-to 'mahalo'}} Mahalo {{/link-to}}</li>
    <li>{{#link-to 'surfboards'}} Surfboards {{/link-to}}</li>
    <li>{{#link-to 'countries'}} Countries {{/link-to}}</li>
    <li>{{#link-to 'movie-review'}} Movie Review {{/link-to}}</li>
  </ul>
</nav>

<p><button {{action 'select' review}}></button>
  Review mew
</p>